



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;


}



li {
  float: left;
   background-color: white;
  color: black;
}

li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: rgb(74,170,165);
  text-decoration: none;
  color: black;
  padding: 14px 16px 27px 16px;
}
.active {

font-weight: bold;
}

.name {
background-color: rgb(74,170,165);
color:white;
font-family: 'Rouge Script', cursive;
font-size:25px;

}

.nameswitch:hover .name{
background-color: rgb(74,170,165);
color:white;
display:none;
font-family: 'Rouge Script', cursive;
font-size:25px;

}

.lastname{
background-color: rgb(74,170,165);
color:white;
display:none;
font-family: 'Rouge Script', cursive;
font-size:25px;

}

.nameswitch:hover .lastname{
background-color: rgb(74,170,165);
color:white;
font-family: 'Rouge Script', cursive;
font-size:25px;
padding: 14px 29.5px 14px 29.5px;

}


h1 {
color:rgb(74,170,165);
font-family: 'Georgia', Times, Times New Roman, serif;


}

.responsive  {

  width: 50%;
  max-width: 400px;
  height: auto;
  float:left; 
  display:block;
  padding:0 20px 10px 0;
  

}

p {

font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
 

footer {

position:sticky;
bottom:0;
z-index:2;

}

.photogallery {

overflow: auto; 
height:auto; 
max-width: 960px; 
padding: 20px; 
background-color: white; 
display:inherit;  
margin-left: auto; 
margin-right: auto;

}


.gallery {

 margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.box1{
  margin:20px;
  width:40%;
  height:40%;
  background-color: teal;
  position:relative;
}






img {
   width:100%;
  height:100%;
  
}



.text{
  width:100%;
  height:45px;
  padding: 10px 0px; 
  background-color:rgb(74,170,165);
  text-align: center;
  color:white;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight:bold;
  position: absolute;
  z-index: 1;
  top: 70%;
}


.other-text{
  width:100%;
  height:45px;
  padding: 10px 0px; 
  background-color:rgb(74,170,165);
  text-align: center;
  color:white;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight:bold;
  position: absolute;
  z-index: 1;
  top: 70%;
}





.box1:hover .text,
.box1 .other-text {

  display:none;
}

.box1:hover .other-text {

  display:block;
}



.nameswitch:hover .name,
.nameswitch .lastname {

  display:none;
}

.nameswitch:hover .lastname {

  display:block;
}


.submit {

color:rgb(74,170,165);
font-family: 'Georgia', Times, Times New Roman, serif;


}
